/* Editor.css */

.editor-wrapper {
  display: flex;
  justify-content: space-around;
}

.Polaris-TextField__Input {
  min-height: 45vh;
  max-height: 45vh;
  min-width: 45vw;
  max-width: 45vw;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
  border: 2px groove;
  font-size: 20px;
}

#input-field {
  white-space: nowrap;
  outline: none;
}

#output-field {
  background-color: white;
  white-space: nowrap;
  outline: none;
}

.Polaris-Label {
  font-weight: var(--p-font-weight-bold);
  font-family: var(--p-font-family-mono);
  margin-bottom: 8px;
  font-size: var(--p-font-size-100);
  /* color: rgb(24, 162, 177); */  /* Old Blue Color */
  color: rgb(240, 236, 236);
  background-color: rgb(29, 28, 28);
  width: fit-content;
  padding: 3px 10px;
  border-radius: 8px;
  
}

.btn-div :hover {
  background-color: var(--p-color-bg-info-subdued);
  color: var(--p-color-text);
}

.lint-btn-wrapper {
  display: flex;
  align-items: center;
  gap: 10px; /* Add gap between the TextField and the button */
}

.header h4{
  padding: 0;
}

@media (max-width: 600px) {
  .editor-wrapper {
    flex-direction: column;
    gap: 10px;
  }
  .Polaris-Label__Text {
    margin-left: 2vw;
  }
  .Polaris-TextField__Input {
    margin-left: 2vw;
    min-height: 32vh;
    max-height: 60vh;
    min-width: 80vw;
    max-width: 950vw;
  }
  .btn-group-wrapper {
    margin-bottom: 30px;
  }
  .btn-div{
    margin-left: 2vw;
  }

  .header{
    margin-left: 2vw;
  }
  .Polaris-Label {
    margin-left: 2vw;
    padding: 3px 5px;
  }
  /* .characterCount{
  position: relative;
  margin-left: 2vw;
} */
}
