.btn-group-wrapper {
  display: flex;
  align-content: center;
  margin-left: 2vw;
}

.Polaris-Button {
  background-color: var(--p-color-bg-info-strong);
  padding: 10px 15px;
  text-decoration: none;
  border: 1px solid #e1e1e1;
  font-size: 14px;
  font-weight: 700;
  color: var(--p-color-text-inverse);
  margin: 0px 10px 0 0;
  border-radius: 3px;
  cursor: pointer;
}

.lint-btn-wrapper :hover {
  background-color: var(--p-color-bg-info-subdued);
  color: var(--p-color-text);
}

.lint-btn-wrapper :active {
  background-color: transparent;
}


@media (max-width: 600px){
  .Polaris-Button {
    padding: 9px 12px;
    font-size: 13px;
    font-weight: 700;
    margin: 0px 10px 0 0;
    border-radius: 3px;
    
  }

}


@media (max-width: 400px){
  .Polaris-Button {
    padding: 8px 10px;
    font-size: 12px;
    font-weight: bold;
    margin: 0px 10px 0 0;
    border-radius: 3px;
    
  }

}
